<div id="consoles">
    <h1>Consoles</h1>

    <a href="http://odyssey.develop/playstation-4-pro.html">
        <img class="con" src='<?php echo $this->getViewFileUrl('Games_ConsolesImages/image (1).png'); ?>' alt="error" ">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/ps-4/id/11/">
        <img class="con" src='<?php echo $this->getViewFileUrl('Games_ConsolesImages/image (2).png'); ?>' alt="error" ">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/xbox-one/id/12/">
        <img class="con" src='<?php echo $this->getViewFileUrl('Games_ConsolesImages/image (3).png'); ?>' alt="error" ">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/switch/id/13/">
        <img class="con" src='<?php echo $this->getViewFileUrl('Games_ConsolesImages/image (4).png'); ?>' alt="error" ">
    </a>



</div>

<div id="perifericos">
    <h1>Periféricos</h1>

    <a href="http://odyssey.develop/catalog/category/view/s/controles/id/17/">
        <img class="per" src='<?php echo $this->getViewFileUrl('Games_CostumerHome/controle.jpg'); ?>' alt="error" title="Controles">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/fones/id/14/">
        <img class="per" src='<?php echo $this->getViewFileUrl('Games_CostumerHome/fone.jpg'); ?>' alt="error" title="Fones">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/mouses/id/16/">
        <img class="per" src='<?php echo $this->getViewFileUrl('Games_CostumerHome/mouse.jpg'); ?>' alt="error" title="Mouses">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/teclados/id/15/">
        <img class="per" src='<?php echo $this->getViewFileUrl('Games_CostumerHome/teclado.jpg'); ?>' alt="error" title="Teclados">
    </a>
</div>
