<li class="greet welcome" data-bind="scope: 'customer'">
    <!-- ko if: customer().fullname  --><!-- /ko -->
    <!-- ko ifnot: customer().fullname  -->
    <span class="not-logged-in" data-bind="html:&quot;Mensagem padrão de boas-vindas!&quot;"></span>
    <!-- /ko -->
</li>
<li class="greet welcome" data-bind="scope: 'customer'">
    <!-- ko if: customer().fullname  -->
    <span class="logged-in" data-bind="text: new String('Bem-vindo, %1!').replace('%1', customer().fullname)"></span>
    <!-- /ko -->
    <!-- ko ifnot: customer().fullname  --><!-- /ko -->
</li>