<footer class="page-footer">
    <div class="footer content">
        <div class="block newsletter">
            <div class="title"><strong>Newsletter</strong></div>
            <div class="content">
                <form class="form subscribe" novalidate="novalidate"
                      action="http://odyssey.develop/newsletter/subscriber/new/" method="post"
                      id="newsletter-validate-detail">


                </form>
                <div class="actions dropdown options switcher-options">
                    <h3>Conheça também nossa loja de games!!! :)</h3>
                    <a href="#"
                       data-post="{&quot;action&quot;:&quot;http:\/\/odyssey.develop\/stores\/store\/redirect\/&quot;,&quot;data&quot;:{&quot;___store&quot;:&quot;odyssey_games&quot;,&quot;___from_store&quot;:&quot;odyssey_geek&quot;,&quot;uenc&quot;:&quot;aHR0cDovL29keXNzZXkuZGV2ZWxvcC8_X19fc3RvcmU9b2R5c3NleV9nYW1lcw,,&quot;}}">
                        <img class="buttongames"
                             src='<?php echo $this->getViewFileUrl('images/buttongames.jpg'); ?>' alt="Demo" ">

                    </a>

                </div>
            </div>
        </div>
        <ul class="footer links">
            <li class="nav item"><a href="http://odyssey.develop/search/term/popular/">Termos de pesquisa</a></li>
            <li class="nav item"><a href="http://odyssey.develop/privacy-policy-cookie-restriction-mode/">Política de Privacidade e Cookies</a></li>
            <li class="nav item"><a href="http://odyssey.develop/catalogsearch/advanced/" data-action="advanced-search">Pesquisa Avançada</a></li>
            <li class="nav item"><a href="http://odyssey.develop/sales/guest/form/">Pedidos e Devoluções</a></li>
            <li class="nav item"><a href="http://odyssey.develop/contact/">Fale Conosco</a></li>
        </ul>
        <div class="switcher store switcher-store" id="switcher-store">
        </div>
    </div>
</footer>
