<div id="images-class-geek">

    <a href="http://odyssey.develop/catalog/category/view/s/camisetas/id/19/">
        <img class="imgs" src='<?php echo $this->getViewFileUrl('Geek_CostumerHome/camisetas.png'); ?>' alt="error" ">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/blusas/id/21/">
        <img class="imgs" src='<?php echo $this->getViewFileUrl('Geek_CostumerHome/blusao.png'); ?>' alt="error" ">
    </a>
    <a href="http://odyssey.develop/catalog/category/view/s/camisetas-de-manga-longa/id/20/">
        <img class="imgs" src='<?php echo $this->getViewFileUrl('Geek_CostumerHome/mangalonga.png'); ?>' alt="error" ">
    </a>

</div>
