.media-width(@extremum, @break) when (@break = @screen__m) {
  .page-wrapper .page-header .panel.wrapper {
    border-bottom: 1px solid @color-white-fog;
    background-color: @color-white-fog;
    color: @color-blue4;
  }
  .banner > img {
    height: 100%;
    width: 100%;
  }
  .banner {
    margin-top: -2%;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
  }
  .copyright {
    background-color: @color-blue4;
    color: @color-white-fog;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: center;
  }
  .page-header .switcher strong, .page-footer .switcher strong {
    font-weight: 400;
    float: left;

  }
  .navigation {
    background: @color-blue4;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
    border-top: solid black 1px;
    border-bottom: solid black 1px;

  }

  .nav-sections-item-content {
    display: block !important;
    background-color: @color-blue4;
    color: white;



  }
  .navigation .level0 > .level-top {
    color: @color-white-fog;
    line-height: 47px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
  }
  .navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
    border-color: #e1e1e6;
    border-style: solid;
    border-width: 0 0 3px;
    color: @color-white-fog;
    text-decoration: none;
    display: inline-block;
  }
  .navigation .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus {
    color: @color-white-fog;
    text-decoration: none;
  }
  .navigation .level0 .submenu .active > a {
    border-color: @color-blue5;
    border-style: solid;
    border-width: 0 0 0 3px;
    color: #333333;
  }
  #banner > img {
    height: 100%;
    width: 100%;
  }
  #banner {
    height: 100%;
    width: 100%;
  }
  .imgs {
    height: 33%;
    width: 33%;
  }
  #images-class-geek {
    margin: 0 5% 5% 5%;
  }
  .buttongeek {
    height: 30%;
    width: 30%;
  }
  .page-wrapper .page-header .panel.wrapper {
    border-bottom: 1px solid @color-white-fog;
    background-color: @color-blue4;
    color: @color-white-fog;
  }
  .header.panel > .header.links > li > a:visited {
    color: white;
    text-decoration: none;
  }
  .action.primary {
    background-image: none;
    background: @color-blue5;
    border: 1px solid @color-blue4;
    color: @color-white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .action.primary:hover {
    background-color: @color-blue5;
    color: @color-white;
  }
  .action.primary:focus,
  .action.primary:active {
    background-color: @color-blue5;
    border: 1px solid @color-blue4;
    color: @color-white;
  }
  .action.primary:hover {
    background-color: @color-blue5;
    border: 1px solid @color-blue4;
    color: @color-white;
  }
  a,
  .alink {
    color: @color-blue4;
    text-decoration: none;
  }
  a:visited,
  .alink:visited {
    color: @color-blue4;
    text-decoration: none;
  }
  a:hover,
  .alink:hover {
    color: @color-blue4;
    text-decoration: underline;
  }
  .breadcrumbs a {
    color: @color-blue4;
    text-decoration: none;
  }
  .breadcrumbs a:visited {
    color: @color-blue4;
    text-decoration: none;
  }
  .breadcrumbs a:hover {
    color: @color-blue4;
    text-decoration: underline;
  }
  .breadcrumbs a:active {
    color: @color-blue4;
    text-decoration: none;
  }
  .minicart-wrapper .action.showcart .counter.qty {
    background: #0c0ca8;
    color: @color-white;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    display: inline-block;
    margin: 3px 0 0;
    min-width: 18px;
    overflow: hidden;
    padding: 0 3px;
    text-align: center;
    white-space: normal;
  }
  .checkout-payment-method .payment-option-title .action-toggle {
    color: @color-blue4;
    display: inline-block;
    text-decoration: none;
  }
  ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .cart-discount .block > .title strong {
    color: @color-blue4;
    font-weight: 400;
  }
}

