.media-width(@extremum, @break) when (@break = @screen__m) {
  .page-wrapper .page-header .panel.wrapper {
    border-bottom: 1px solid @color-white-fog;
    background-color: @color-white-fog;
    color: @color-red14;
  }
  .copyright {
    background-color: @color-red14;
    color: @color-white-fog;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: center;
  }
  .page-header .switcher strong, .page-footer .switcher strong {
    font-weight: 400;
    float: left;

  }
  .navigation {
    background: @color-red14;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
    border-top: solid black 1px;
    border-bottom: solid black 1px;

  }
  .header.panel > .header.links > li > a {
    color: @color-white;
    text-decoration: none;
  }

  .nav-sections-item-content {
    display: block !important;
    background-color: @color-red14;
    color: white;


  }
  .navigation .level0 > .level-top {
    color: @color-white-fog;
    line-height: 47px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
  }
  .banner {
    margin-top: -2%;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
  }
  #products > img {
    height: 15%;
    width: 15%;
    margin: 0.68%;
  }
  .per {
    height: 25%;
    width: 23%;
    margin: 0.5%;
    border: solid 2px black;
  }
  #banner {
    height: 200px;
    width: 20%;
  }
  #perifericos {
    margin: 5% 5% 5%;
  }
  .con {
    height: auto;
    width: auto;
    margin: 1.5%;
  }
  #consoles {
    margin: 0% 5%;
  }
  #carrossel {
    height: 300px;
    width: 100%;
  }
  .navigation .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus {
    color: @color-white-fog;
    text-decoration: none;
  }
  .navigation .level0.active > .level-top,
  .navigation .level0.has-active > .level-top {
    border-color: #f2f2ff;
    border-style: solid;
    border-width: 0 0 3px;
    color: #f2f2ff;
    text-decoration: none;
    display: inline-block;
  }
  .navigation .level0 .submenu .active > a {
    border-color: @color-red13;
    border-style: solid;
    border-width: 0 0 0 3px;
    color: #333333;
  }

  .buttongames {
    height: 30%;
    width: 30%;
  }
  .page-wrapper .page-header .panel.wrapper {
    border-bottom: 1px solid @color-white-fog;
    background-color: @color-red14;
    color: @color-white-fog;
  }
  .header.panel > .header.links > li > a:visited {
    color: white;
    text-decoration: none;
  }
  .action.primary {
    background-image: none;
    background: #9c2d27;
    border: 1px solid @color-red14;
    color: @color-white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .action.primary {
    background-image: none;
    background: @color-red13;
    border: 1px solid @color-red14;
    color: @color-white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .action.primary:hover {
    background: rgba(255, 69, 45, 0.75);
    color: @color-white;
  }
  .action.primary:focus,
  .action.primary:active {
    background: rgba(255, 69, 45, 0.75);
    border: 1px solid @color-red14;
    color: @color-white;
  }
  .action.primary:hover {
    background: rgba(255, 69, 45, 0.75);
    border: 1px solid @color-red14;
    color: @color-white;
  }
  a,
  .alink {
    color: @color-red14;
    text-decoration: none;
  }
  a:visited,
  .alink:visited {
    color: @color-red14;
    text-decoration: none;
  }
  a:hover,
  .alink:hover {
    color: @color-red14;
    text-decoration: underline;
  }
  .breadcrumbs a {
    color: @color-red14;
    text-decoration: none;
  }
  .breadcrumbs a:visited {
    color: @color-red14;
    text-decoration: none;
  }
  .breadcrumbs a:hover {
    color: @color-red14;
    text-decoration: underline;
  }
  .breadcrumbs a:active {
    color: #006bb4;
    text-decoration: none;
  }
  h1 {
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.6rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  #products_featured {
    float: left;
  }
  .minicart-wrapper .action.showcart .counter.qty {
    background: @color-red13;
    color: @color-white;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    display: inline-block;
    margin: 3px 0 0;
    min-width: 18px;
    overflow: hidden;
    padding: 0 3px;
    text-align: center;
    white-space: normal;
  }
  .checkout-payment-method .payment-option-title .action-toggle {
    color: @color-red13;
    display: inline-block;
    text-decoration: none;
  }
  ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .cart-discount .block > .title strong {
    color: @color-red13;
    font-weight: 400;
  }
}

